<div xmlns:th="http://www.thymeleaf.org" style="background-color: antiquewhite">
  <section class="jumbotron text-center" style="background-color: antiquewhite">
    <div class="container">
      <h3 class="jumbotron-heading" style="font-family: 'Harlow Solid Italic'">Add new movie to the list or edit the selected movie</h3>
    </div>
  </section>

  <div class="container">
    <div class="row row justify-content-center align-items-center">
      <div class="col-md-5">
        <form action="/movies/add" method="POST">
          <input id="id" type="hidden" name="id" th:value="(${movie} != null ? ${movie.getId()} : '')">

          <!--Movie name-->
          <div class="form-group">
            <label for="name">Movie name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:value="(${movie} != null ? ${movie.getName()} : '')"
                   required
                   placeholder="Enter movie name">
          </div>

          <!--Movie date-->
          <div class="form-group">
            <label for="date">Date</label>
            <input type="datetime-local"
                   class="form-control"
                   id="date"
                   name="date"
                   th:value="(${movie} != null ? ${movie.getDate()} : '')"
                   placeholder="Date">
          </div>

          <!--Movie description-->
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   name="description"
                   th:value="(${movie} != null ? ${movie.getDescription} : '')"
                   placeholder="Description">
          </div>

          <!--Movie genre-->
          <div class="form-group">
            <label>Genre</label>
            <select name="genre" class="form-control">
              <option th:if="${movie} != null"
                      th:selected="${movie.getGenre() != null &&
                                movie.getGenre().getId() == gen.getId()}"
                      th:each="gen : ${genres}"
                      th:value="${gen.getId()}"
                      th:text="${gen.getName()}">
              </option>
              <option th:if="${movie} == null"
                      th:each="gen : ${genres}"
                      th:value="${gen.getId()}"
                      th:text="${gen.getName()}">
              </option>
            </select>
          </div>

          <!--Movie price-->
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text"
                   class="form-control"
                   id="price"
                   name="price"
                   th:value="(${movie} != null ? ${movie.getPrice()} : '')"
                   placeholder="Price">
          </div>

          <!--Movie quantity-->
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text"
                   class="form-control"
                   id="quantity"
                   name="quantity"
                   th:value="(${movie} != null ? ${movie.getQuantity()} : '')"
                   placeholder="Quantity">
          </div>

          <!--Movie duration-->
          <div class="form-group">
            <label for="duration">Movie Duration</label>
            <input type="text"
                   class="form-control"
                   id="duration"
                   name="duration"
                   th:value="(${movie} != null ? ${movie.getDuration()} : '')"
                   placeholder="Duration">
          </div>

          <!--Movie rating-->
          <div class="form-group">
            <label for="ratingImdb">Rating from IMDB</label>
            <input type="text"
                   class="form-control"
                   id="ratingImdb"
                   name="ratingImdb"
                   th:value="(${movie} != null ? ${movie.getRatingImdb()} : '')"
                   placeholder="Rating from IMDB">
          </div>

          <!--Movie cast-->
          <div class="form-group">
            <label>Movie Cast</label>
            <select id="castIds" name="castIds" multiple="multiple">
              <option th:each="cas: ${cast}" th:value="${cas.getId()}" th:text="${cas.getName() + ' ' + cas.getSurname()}">[cas.name], [cas.surname]</option>
            </select>
          </div>

          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-primary" href="/movies">Back</a>
        </form>
      </div>
    </div>
  </div>
</div>