<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">I LOVE MOVIES</h1>
            <h3 class="jumbotron-heading">All movies</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${movies.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Movie Date</th>
                            <th scope="col">Movie Description</th>
                            <th scope="col">Movie Genre</th>
                            <th scope="col">Movie Price</th>
                            <th scope="col">Movie Quantity</th>
                            <th scope="col">Movie Duration</th>
                            <th scope="col">Movie Rating on IMDB</th>
                            <th scope="col">Movie Cast</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie : ${movies}" class="product">
                            <td th:text="${movie.getName()}"></td>
                            <td th:text="${movie.getDate()}"></td>
                            <td th:text="${movie.getDescription()}"></td>
                            <td th:text="${movie.getGenre() != null}
                            ? ${movie.getGenre().getName()} : 'No Genre'"></td>
                            <td th:text="${movie.getPrice()}"></td>
                            <td th:text="${movie.getQuantity()}"></td>
                            <td th:text="${movie.getDuration()}"></td>
                            <td th:text="${movie.getRatingImdb()}"></td>
                            <td>
                                <ul>
                                    <li th:each="cas: ${movie.cast}" th:text="${cas.name}">[cas.name]</li>
                                </ul>
                            </td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/movies/delete/{id}' (id=${movie.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/movies/edit-form/{id}' (id=${movie.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                                <form th:action="@{'/shopping-cart/add-movie/{id}' (id=${movie.getId()})}"
                                      th:method="POST"
                                      sec:authorize="isAuthenticated()">
                                    <button type="submit"
                                            class="btn btn-sm btn-primary cart-product">
                                        <i class="fa fa-trash">Add movie to cart</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <th:block  sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/movies/add-form" class="btn btn-block btn-dark add-product-btn">
                            Add new product</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>