<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center" style="background-color: antiquewhite">
        <div class="container" >
            <h1 class="jumbotron-heading" style="font-weight: bold">I LOVE MOVIES</h1>
            <h3 class="jumbotron-heading" style="font-family: 'Harlow Solid Italic'">List of all available movies</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
            </svg>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${movies.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr class="table-warning">
                            <th scope="col">Movie Name</th>
                            <th scope="col">Movie Date</th>
                            <th scope="col">Movie Description</th>
                            <th scope="col">Movie Genre</th>
                            <th scope="col">Movie Price</th>
                            <th scope="col">Movie Quantity</th>
                            <th scope="col">Movie Duration</th>
                            <th scope="col">Movie Rating on IMDB</th>
                            <th scope="col">Movie Cast</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie : ${movies}" class="product">
                            <td style="font-weight: bold; color: crimson" th:text="${movie.getName()}"></td>
                            <td th:text="${movie.getDate()}"></td>
                            <td th:text="${movie.getDescription()}"></td>
                            <td th:text="${movie.getGenre() != null}
                            ? ${movie.getGenre().getName()} : 'No Genre'"></td>
                            <td th:text="${movie.getPrice()}"></td>
                            <td th:text="${movie.getQuantity()}"></td>
                            <td th:text="${movie.getDuration()}"></td>
                            <td th:text="${movie.getRatingImdb()}"></td>
                            <td>
                                <ul>
                                    <li th:each="cas: ${movie.getCast()}" th:text="${cas.name + ' ' + cas.surname}">[cas.name],[cas.surname]</li>
                                </ul>
                            </td>
                            <td class="text-right">
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'/movies/delete/{id}' (id=${movie.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-outline-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/movies/edit-form/{id}' (id=${movie.getId()})}"
                                       class="btn btn-sm btn-outline-secondary edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                                <form th:action="@{'/shopping-cart/add-movie/{id}' (id=${movie.getId()})}"
                                      th:method="POST"
                                      sec:authorize="isAuthenticated()">
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-success cart-product">
                                        <i class="fa fa-trash">RESERVE!</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <th:block  sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/movies/add-form"  class="btn btn-block btn-success add-product-btn">
                            Add new Movie</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>