<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center" style="background-color: antiquewhite">
        <div class="container">
            <h3 class="jumbotron-heading" style="font-weight: bold">Shopping cart for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
            </h3>
            <h5 class="jumbotron-heading" style="font-family: 'Harlow Solid Italic'"> - Welcome to your movie list - </h5>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${movies.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr class="table-warning">
                            <th scope="col">Movie Name</th>
                            <th scope="col">Movie Date</th>
                            <th scope="col">Movie Description</th>
                            <th scope="col">Movie Genre</th>
                            <th scope="col">Movie Price</th>
                            <th scope="col">Movie Duration</th>
                            <th scope="col">Movie Rating on IMDB</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="movie : ${movies}" class="cart-item">
                            <td th:text="${movie.getName()}"></td>
                            <td th:text="${movie.getDate()}"></td>
                            <td th:text="${movie.getDescription()}"></td>
                            <td th:text="${movie.getGenre() != null} ? ${movie.getGenre().getName()} : 'No Genre'"></td>
                            <td th:text="${movie.getPrice()}"></td>
                            <td th:text="${movie.getDuration()}"></td>
                            <td th:text="${movie.getRatingImdb()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <form method="post">
                    <h2>Shipping details for your order!</h2>
                    <div class="form-group">
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           required
                           placeholder="Enter name">
                    </div>

                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="surname"
                               name="surname"
                               required
                               placeholder="Enter surname">
                    </div>

                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               required
                               placeholder="Enter address">
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary">КУПИ СЕГА</button>
                </form>
            </div>
        </div>
    </div>
</div>